<div bsModal #basicModalDocsNombramiento="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <tabset #tabSet>
                        <tab heading="Generales">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catestatusplaza">Tipo de {{tipo}}</label>
                                        <select class="form-control" [(ngModel)]="record.id_catestatusplaza" name="Tipo de nombramiento" (change)="onSelectTipoNombramiento($event.target.value)">
                                          <option value="0">---</option>
                                <option *ngFor="let col of catestatusplazaCat" [value]="col.id">{{ col.descripcion }}</option>
                              </select>

                                        <!--<select class="form-control" [(ngModel)]="record.id_catestatusplaza" name="Tipo de nombramiento" (change)="onSelectTipoNombramiento($event.target.value)">
                                <option value="0"></option>
                                <option value="1">Titular</option>
                                <option value="2">Provisional</option>
                                <option value="3">Interino</option>
                                <option value="3">Interino sin Base</option>
                              </select>-->
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catquincena_ini">Quincena de inicio</label>
                                        <ng-select2 [(ngModel)]="record.id_catquincena_ini" [data]="catquincenaCat" [allowClear]="true" width="100%" name="Quincena de inicio">
                                        </ng-select2>
                                    </div>
                                </div>

                                <div *ngIf="convigencia==true" class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catquincena_fin">Quincena de término</label>
                                        <ng-select2 [(ngModel)]="record.id_catquincena_fin" [data]="catquincenaCat" [allowClear]="true" width="100%" name="Quincena de término">
                                        </ng-select2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <div class="form-group">
                                        <label for="id_categorias">Categorías</label>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="form-check-label">¿Todas las plantillas? <input class="form-check-input" type="checkbox" [(ngModel)]="record_todaslasplantillas" name="Todas las plantillas" style="margin-left: 5px;" (change)="onChangeTodasCategorias($event)"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <ng-select2 [(ngModel)]="record.id_categorias" [data]="categoriasCat" [allowClear]="true" width="100%" name="Categorías" (valueChanged)="onSelectCategorias($event)">
                                                </ng-select2>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group">
                                        <label for="id_plazas">Plazas</label>
                                        <ng-select2 [(ngModel)]="record.id_plazas" [data]="plazasCat" [allowClear]="true" width="100%" name="Plazas" (valueChanged)="onSelectPlazas($event)">
                                        </ng-select2>
                                        <button class="btn btn-brand btn-sm mr-1 btn-secondary" style="margin-bottom: 4px" type="button" title="Copiar texto" (click)="CopiarPlaza()">
                                          <i class="fa fa-copy"></i>
                                      </button>
                                        <!--<select id="selectPlantel" class="form-control" [(ngModel)]="record.id_categorias" name="Categorías">
                          <option *ngFor="let col of categoriasCat" [value]="col.id">{{ col.clave + " - " + (col.denominacion!=null?col.denominacion:".") }}</option>
                        </select>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="varAsignarHorasPlazasPorJornada==true || varAsignarHorasPlazasPorHora==true">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="horasB">Semestre A</label>
                                        <input type="text" [(ngModel)]="record.horas" class="form-control" name="Semestre A" [disabled]="varAsignarHorasPlazasPorJornada">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="horasB">Semestre B</label>
                                        <input type="text" [(ngModel)]="record.horasb" class="form-control" name="Semestre B" [disabled]="varAsignarHorasPlazasPorJornada">
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="varAsignarHorasPlazasPorHora==true">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="horasB">Disponibles Semestre A</label>
                                        <input type="text" [(ngModel)]="record_disponibles_horas" class="form-control" name="Disponibles Semestre A" disabled>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="horasB">Disponibles Semestre B</label>
                                        <input type="text" [(ngModel)]="record_disponibles_horasb" class="form-control" name="DisponiblesSemestre B" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="esinterina==true" class="form-group col-sm-8">
                                    <div class="form-group">
                                        <label for="id_personal_titular">Titular</label>
                                        <div class="ng-autocomplete">
                                            <ng-autocomplete #id_personal_titular [(ngModel)]="record_titular" [data]="catpersonalCat" (selected)='onSelectIdPersonal($event)' (inputChanged)='onChangeSearchIdPersonal($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keywordSearch"
                                                [minQueryLength]="3" [debounceTime]="100" [isLoading]="isLoadingSearch" name="Titular">
                                            </ng-autocomplete>

                                            <ng-template #itemTemplate let-item>
                                                <a href="javascript:void(0)">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <span [innerHTML]="item.full_name"></span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </ng-template>

                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="esinterina==true" class="form-group col-sm-4">
                                    <div class="form-group">
                                        <!--<label for="id_plazas_afectada">Plaza del titular</label>-->
                                        <label>Nombramientos vigentes</label>
                                        <select class="form-control" multiple="multiple" disabled="disabled">
                                          <ng-container  *ngFor="let row of plazaOcupadaTitularCat; index as i">
                                            <option  [value]="row.id" >{{ row.text }}</option>
                                          </ng-container>
                                        </select>
                                        <!--<input type="text" [(ngModel)]="plazaOcupadaTitular" class="form-control" name="Plaza del titular" disabled="disabled">-->
                                        <!--<ng-select2 [(ngModel)]="record.id_plazas_afectada" [data]="plazaOcupadaTitularCat" [allowClear]="true" width="100%" name="Plazas" (valueChanged)="onSelectPlazas($event)">
                                        </ng-select2>-->
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="fechaexpedicion">Fecha de expedición del documento</label>
                                        <input type="date" [(ngModel)]="record.fechaexpedicion" class="form-control" name="Fecha de expedición del documento">
                                    </div>
                                </div>
                                <div *ngIf="tipo=='licencia' && record_catplantillas.id==2" class="form-group col-sm-4">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-secondary" (click)="openModal('customhorasasignacionadmin','editar',record.id_plantillaspersonal)">
                                      <div><span>Editar horas</span></div>
                                    </button>
                                    </div>
                                </div>
                                <!--<div *ngIf="tipo=='nombramiento'" class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="esplazabase">¿Es plaza base?</label>
                                        <select class="form-control" [(ngModel)]="record.esplazabase" name="¿Es plaza base?">
                                      <option value="0">No</option>
                                      <option value="1">Sí</option>
                                    </select>
                                    </div>
                                </div>
                              -->
                            </div>
                        </tab>
                        <tab *ngIf="tipo=='nombramiento'" heading="Adicionales">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catplanteles">Plantel</label>
                                        <input type="text" [(ngModel)]="record_plantel" class="form-control" name="Plantel" disabled="disabled">
                                        <!--<ng-select2 [(ngModel)]="record.id_catplanteles" [data]="catplantelesCat" [allowClear]="true" width="100%" disabled="disabled">
                                      </ng-select2>-->
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catcentrostrabajo">Centro de trabajo</label>
                                        <select class="form-control" [(ngModel)]="record.id_catcentrostrabajo" name="Centro de trabajo">
                                        <option *ngFor="let col of catcentrostrabajoCat" [value]="col.id">{{ col.clave + " - " + col.descripcion }}</option>
                                      </select>
                                    </div>
                                </div>
                                <div *ngIf="estipodocente" class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catplanteles_aplicacion">Plantel (aplicación)</label>
                                        <ng-select2 [(ngModel)]="record.id_catplanteles_aplicacion" [data]="catplantelesAplicacionCat" [allowClear]="true" width="100%" name="Plantel (aplicación)">
                                        </ng-select2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="zonageografica">Zona geográfica</label>
                                        <input type="text" [(ngModel)]="record_txtzonageografica" class="form-control" name="Zona geográfica" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="zonaeconomica">Zona económica</label>
                                        <input type="text" [(ngModel)]="record_txtzonaeconomica" class="form-control" name="Zona económica" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catfuncionprimaria">Función primaria</label>
                                        <select class="form-control" [(ngModel)]="record.id_catfuncionprimaria" name="Función primaria">
                                      <option *ngFor="let col of catfuncionprimariaCat" [value]="col.id">{{ col.nombre }}</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catfuncionsecundaria">Función secundaria</label>
                                        <select class="form-control" [(ngModel)]="record.id_catfuncionsecundaria" name="Función secundaria">
                                    <option *ngFor="let col of catfuncionsecundariaCat" [value]="col.id">{{ col.nombre }}</option>
                                  </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_cattiposemestre">Vigente en semestre(s)</label>
                                        <select class="form-control" [(ngModel)]="record.id_cattiposemestre" name="Vigente en semestre(s)">
                                        <option *ngFor="let col of cattiposemestreCat" [value]="col.id">{{ col.descripcion }}</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catesquemapago">Esquema de pago</label>
                                        <select class="form-control" [(ngModel)]="record.id_catesquemapago" name="Esquema de pago">
                                        <option *ngFor="let col of catesquemapagoCat" [value]="col.id">{{ col.descripcion }}</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                    <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                    <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                  </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
      <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<app-horasasignacion-admin id="customhorasasignacionadmin">
</app-horasasignacion-admin>