<div bsModal #basicModalDocsNombramiento="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="tipo">Tipo de nombramiento</label>
                                <select class="form-control" [(ngModel)]="record.id_catestatusplaza" name="Tipo de nombramiento" (change)="onSelectTipoNombramiento($event.target.value)">
                                  <option *ngFor="let col of catestatusplazaCat" [value]="col.id">{{ col.descripcion }}</option>
                                </select>

                                <!--<select class="form-control" [(ngModel)]="record.id_catestatusplaza" name="Tipo de nombramiento" (change)="onSelectTipoNombramiento($event.target.value)">
                                  <option value="0"></option>
                                  <option value="1">Titular</option>
                                  <option value="2">Provisional</option>
                                  <option value="3">Interino</option>
                                  <option value="3">Interino sin Base</option>
                                </select>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="fechaini">Fecha de inicio</label>
                                <input type="date" [(ngModel)]="record.fechaini" class="form-control" name="Fecha de inicio">
                            </div>
                        </div>

                        <div *ngIf="convigencia==true" class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="fechafin">Fecha de término</label>
                                <input id="txtFechafin" type="date" [(ngModel)]="record.fechafin" class="form-control" name="Fecha de término">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="record.id_catestatusplaza==3" class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_categorias">Categorías</label>
                                <ng-select2 [(ngModel)]="record.id_categorias" [data]="categoriasCat" [allowClear]="true" allowClear="true" width="100%" name="Categorías" (valueChanged)="onSelectCategorias($event)">
                                </ng-select2>
                                <!--<select id="selectPlantel" class="form-control" [(ngModel)]="record.id_categorias" name="Categorías">
                              <option *ngFor="let col of categoriasCat" [value]="col.id">{{ col.clave + " - " + (col.denominacion!=null?col.denominacion:".") }}</option>
                            </select>-->
                            </div>
                        </div>
                        <div *ngIf="record.id_catestatusplaza==3" class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_plazas">Plazas</label>
                                <ng-select2 [(ngModel)]="record.id_plazas" [data]="plazasCat" [allowClear]="true" allowClear="true" width="100%" name="Plazas">
                                </ng-select2>
                                <!--<select id="selectPlantel" class="form-control" [(ngModel)]="record.id_categorias" name="Categorías">
                            <option *ngFor="let col of categoriasCat" [value]="col.id">{{ col.clave + " - " + (col.denominacion!=null?col.denominacion:".") }}</option>
                          </select>-->
                            </div>
                        </div>
                        <div *ngIf="record.id_catestatusplaza!=3" class="form-group col-sm-8">
                            <div class="form-group">
                                <label for="record_titular">Titular</label>
                                <div class="ng-autocomplete">
                                    <ng-autocomplete #id_personal_titular [(ngModel)]="record_titular" [data]="catpersonalCat" (selected)='onSelectIdPersonal($event)' (inputChanged)='onChangeSearchIdPersonal($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keywordSearch"
                                        [minQueryLength]="3" [debounceTime]="100" [isLoading]="isLoadingSearch" name="Titular">
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <a href="javascript:void(0)">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span [innerHTML]="item.full_name"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="fechaexpedicion">Fecha de expedición del documento</label>
                                <input type="date" [(ngModel)]="record.fechaexpedicion" class="form-control" name="Fecha de expedición del documento">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="archivo">Archivo .pdf</label>
                            <form-upload (onLoaded)="onLoadedFile($event)" [actionForm]="actionForm" [idFile]="record.id_archivos"></form-upload>
                            <br/>
                            <br/>

                            <list-upload></list-upload>
                        </div>
                    </div>

                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
        <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>