<div bsModal #basicModal="bs-modal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="ultimogradoestudios">Último grado de estudios</label>
                                <select class="form-control" [(ngModel)]="record.ultimogradoestudios" name="Último grado de estudios">
                            <option value="0"></option>
                            <option value="1">Primaria</option>
                            <option value="2">Secundaria</option>
                            <option value="3">Bachillerato</option>
                            <option value="4">Licenciatura</option>
                            <option value="5">Maestría</option>
                            <option value="6">Doctorado</option>
                          </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="areacarrera">Área de carrera</label>
                                <select class="form-control" [(ngModel)]="record.areacarrera" name="Área de carrera">
                              <option value="0"></option>
                              <option value="1">Tronco Común</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="carrera">Carrera</label>
                                <select class="form-control" [(ngModel)]="record.carrera" name="Carrera">
                            <option value="0"></option>
                            <option value="1">Primaria</option>
                            <option value="2">Secundaria</option>
                            <option value="3">Bachillerato</option>
                            <option value="4">Licenciatura</option>
                            <option value="5">Maestría</option>
                            <option value="6">Doctorado</option>
                          </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="estatus">Estatus</label>
                                <select class="form-control" [(ngModel)]="record.estatus" name="Estatus">
                            <option value="0"></option>
                            <option value="1">Cursando</option>
                          </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="fechaexpedicion">Fecha de expedición del documento</label>
                                <input type="date" [(ngModel)]="record.fechaexpedicion" class="form-control" name="Fecha de expedición del documento">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="archivo">Archivo .pdf</label>
                            <form-upload (onLoaded)="onLoadedFile($event)" [actionForm]="actionForm" [idFile]="record.id_archivos"></form-upload>
                            <br/>
                            <br/>

                            <list-upload></list-upload>
                        </div>
                    </div>

                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
        <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>