<div bsModal #basicModalHorasasignacion="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                        <input type="hidden" [(ngModel)]="record.id_personal" class="form-control" name="id_personal">
                        <input type="hidden" [(ngModel)]="record.id_semestre" class="form-control" name="id_semestre">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="Nombre" disabled="disabled" [value]="recordpersonal.nombre + ' ' + recordpersonal.apellidopaterno + ' ' + recordpersonal.apellidomaterno" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <div class="form-group">
                                <label for="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <button class="btn btn-brand btn-sm mr-1 btn-instagram" style="margin-bottom: 4px" type="button" title="Historial de docentes" (click)="openModal('custom-horas-historial','docentes',record.id_horasclase, record.id_personal,record.id_gruposclase,record.id_materiasclase,record.id_semestre)">
                                    <i class="fa fa-stack-overflow"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <label for="semestre">Semestre</label>
                                <input type="text" name="Semestre" disabled="disabled" [value]="recordsemestre.anio + ' ' + recordsemestre.tipo" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="plaza">Plaza</label>
                                <input type="text" name="Plaza" [value]="record_text_plaza" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label for="record_text_categoria">Categoría</label>
                                <input type="text" name="Categoría" [value]="record_text_categoria" class="form-control" disabled="disabled" />
                            </div>
                        </div>

                        <!--en No-->
                        <div *ngIf="record.horassueltas==0" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="horasProgramadasEnPlaza">Horas programadas</label>
                                <input type="text" name="Horas programadas" [value]="horasProgramadasEnPlaza" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div *ngIf="record.horassueltas==0" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="horasDisponiblesEnPlaza">Horas disponibles</label>
                                <input type="text" [(ngModel)]="horasDisponiblesEnPlaza" class="form-control" name="Disponibles" disabled="disabled">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <div class="form-group">
                                <label for="id_catplanteles">Plantel</label>
                                <ng-select2 [(ngModel)]="record.id_catplanteles" [data]="catplantelesCat" [allowClear]="true" width="100%" name="Plantel" [disabled]="esPlantelDesdeParametro">
                                </ng-select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_catplanteles_aplicacion">Plantel (aplicación)</label>
                                <ng-select2 [(ngModel)]="record.id_catplanteles_aplicacion" [data]="catplantelesAplicacionCat" [allowClear]="true" width="100%" name="Plantel (aplicación)" (valueChanged)="onSelectPlantel($event)">
                                    <!--[disabled]="!edicion_en_activo"-->
                                </ng-select2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <label for="id_gruposclase">Grupo</label>
                                <select class="form-control" [(ngModel)]="record.id_gruposclase" name="Grupo" [disabled]="(!edicion_en_activo && !edicion_en_copiar) || (tipoForm!=1)" (change)="onSelectGruposclase($event.target.value)">
                                  <option value="">---</option>
                                  <option *ngFor="let col of gruposclaseCat" [value]="col.id">{{ col.text }}</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <div class="form-group">
                                <label for="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <button class="btn btn-brand btn-sm mr-1 btn-spotify" style="margin-bottom: 4px" type="button" title="Historial de grupo" (click)="openModal('custom-horas-historial','grupos',record.id_horasclase, record.id_personal,record.id_gruposclase,record.id_materiasclase,record.id_semestre)">
                                    <i class="fa fa-stack-overflow"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="form-group">
                                <label for="id_materiasclase">Materia</label>
                                <select class="form-control" [(ngModel)]="record.id_materiasclase" name="Materia" [disabled]="!edicion_en_activo" (change)="onSelectMateriasclase($event.target.value)">
                                  <option value="">---</option>
                                  <option *ngFor="let col of materiasclaseCat" [value]="col.id">{{ col.text }}</option>
                                </select>
                                <!--<select id="selectPlantel" class="form-control" [(ngModel)]="record.id_categorias" name="Categorías">
                  <option *ngFor="let col of categoriasCat" [value]="col.id">{{ col.clave + " - " + (col.denominacion!=null?col.denominacion:".") }}</option>
                </select>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-1">
                            <div class="form-group">
                                <label for="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <button class="btn btn-brand btn-sm mr-1 btn-stack-overflow" style="margin-bottom: 4px" type="button" title="Historial de materia" (click)="openModal('custom-horas-historial','materias', record.id_horasclase, record.id_personal,record.id_gruposclase,record.id_materiasclase,record.id_semestre)">
                                    <i class="fa fa-stack-overflow"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <label for="cantidad">Horas</label>
                                <input type="text" [(ngModel)]="record.cantidad" class="form-control" name="Horas" [disabled]="!edicion_horasDIESyApoyo" (change)="onChangeCantidadHoras($event.target.value)">
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="record.horassueltas==0">
                        <div *ngIf="verAsignarHorasRestantes" class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="asignarHorasRestantes">¿Asignar <span style="color: green;"> {{horasRestantesEnPlaza * -1}} </span> horas restantes a plaza con horas sueltas?</label>
                                <select class="form-control" [(ngModel)]="asignarHorasRestantes" name="¿Horas sueltas?" [disabled]="true"><!--"!edicion_en_activo"-->
                              <option value="0">No, asignar manualmente</option>
                              <option value="1">Sí, asignar automáticamente</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catestatushora">Estatus</label>
                                <select class="form-control" [(ngModel)]="record.id_catestatushora" name="Estatus" [disabled]="!edicion_en_activo">
                                  <option *ngFor="let col of catestatushoraCat" [value]="col.id">{{ col.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catnombramientos">Nombramiento</label>
                                <select class="form-control" [(ngModel)]="record.id_catnombramientos" name="Nombramiento" [disabled]="!edicion_en_activo || edicion_habilitarTipoHoras" (change)="onSelectNombramiento($event.target.value)">
                                  <option *ngFor="let col of catnombramientosCat" [value]="col.id">{{ col.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="esinterina==true" class="form-group col-sm-8">
                            <div class="form-group">
                                <label for="Titular">Titular</label>
                                <input type="text" name="Titular" disabled="disabled" [value]="record_personaltitular_nombre" class="form-control" />
                                <input type="hidden" #id_personal_titular name="Titular" [value]="record.id_personal_titular" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catquincena_ini">Quincena inicial</label>
                                <ng-select2 [(ngModel)]="record.id_catquincena_ini" [data]="catquincenaCat" [allowClear]="true" width="100%" name="Quincena inicial" [disabled]="!edicion_en_activo">
                                </ng-select2>
                            </div>
                        </div>
                        <div *ngIf="record.id_catnombramientos!=1" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catquincena_fin">Quincena final</label>
                                <ng-select2 [(ngModel)]="record.id_catquincena_fin" [data]="catquincenaCat" [allowClear]="true" width="100%" name="Quincena final">
                                </ng-select2>
                            </div>
                        </div>
                        <div *ngIf="!edicion_horasDIESyApoyo" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="horassueltas">¿Horas sueltas?</label>
                                <select class="form-control" [(ngModel)]="record.horassueltas" name="¿Horas sueltas?" [disabled]="true"><!--"!edicion_en_activo"-->
                                  <option value="0">No</option>
                                  <option value="1">Sí</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="record.horassueltas==1" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_cattipohorasdocente">Tipo de horas</label>
                                <select class="form-control" [(ngModel)]="record.id_cattipohorasdocente" name="Tipo de horas" [disabled]="!edicion_habilitarTipoHoras">
                                  <option value="">---</option>
                                    <option *ngFor="let col of cattipohorasdocenteCat" [value]="col.id">{{ col.text }}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="!edicion_horasDIESyApoyo" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="frenteagrupo">¿Frente a grupo?</label>
                                <select class="form-control" [(ngModel)]="record.frenteagrupo" name="¿Frente a grupo?" [disabled]="!edicion_en_activo">
                              <option value="0">No</option>
                              <option value="1">Sí</option>
                            </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
        <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<app-horas-historial id="custom-horas-historial" >
</app-horas-historial>
