<div bsModal #basicModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" #input_action name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <!-- Nav tabs -->
                    <tabset>
                        <tab heading="Generales">
                            <div class="row">
                                <div class="form-group col-sm-5">
                                    <div class="form-group">
                                        <label for="curp">CURP</label>
                                        <input type="text" [(ngModel)]="record.curp" class="form-control" name="CURP" (change)="onChangeCurp($event.target.value)">
                                    </div>
                                </div>
                                <div class="form-group col-sm-5">
                                    <div class="form-group">
                                        <label *ngIf="existeSegunCURP && record.id==0" style="color: red;">Ya existe una persona con la CURP ingresada</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="apellidopaterno">Apellido Paterno</label>
                                        <input type="text" [(ngModel)]="record.apellidopaterno" class="form-control" name="Apellido Paterno" mask="0{100}" [patterns]="customPatterns" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="apellidomaterno">Apellido Materno</label>
                                        <input type="text" [(ngModel)]="record.apellidomaterno" class="form-control" name="Apellido Materno" mask="0{100}" [patterns]="customPatterns" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" [(ngModel)]="record.nombre" class="form-control" name="Nombre" mask="0{100}" [patterns]="customPatterns" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="fechanacimiento">Fecha de nacimiento</label>
                                        <input id="txtFechanacimiento" type="date" [(ngModel)]="record.fechanacimiento" class="form-control" name="Fecha de nacimiento" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="sexo">Sexo</label>
                                        <select class="form-control" [(ngModel)]="record.sexo" name="Sexo" (change)="onSelectSexo($event.target.value)" disabled="disabled">
                                        <option value=""></option>
                                        <option value="1">Femenino</option>
                                        <option value="2">Masculino</option>
                                        <option value="3">Otro</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catestadosnaci">Entidad de nacimiento</label>
                                        <select class="form-control" [(ngModel)]="record.id_catestadosnaci" name="Entidad de nacimiento" (change)="onSelectEntidadNaci($event.target.value)" disabled="disabled">
                              <option *ngFor="let col of catestadosCat" [value]="col.id">{{ col.descripcion }}</option>
                            </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catmunicipiosnaci">Municipio de nacimiento</label>
                                        <select class="form-control" [(ngModel)]="record.id_catmunicipiosnaci" name="Municipio de nacimiento" (change)="onSelectMunicipioNaci($event.target.value)" [disabled]="existeSegunCURP">
                              <option *ngFor="let col of catmunicipiosNaciCat" [value]="col.id">{{ col.descripcion }}</option>
                            </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catlocalidadesnaci">Localidad de nacimiento</label>
                                        <select class="form-control" [(ngModel)]="record.id_catlocalidadesnaci" name="Localidad de nacimiento" [disabled]="existeSegunCURP">
                            <option *ngFor="let col of catlocalidadesNaciCat" [value]="col.id">{{ col.descripcion }}</option>
                          </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="id_catestadocivil">Estado civil</label>
                                        <select class="form-control" [(ngModel)]="record.id_catestadocivil" name="Estado civil" [disabled]="existeSegunCURP">
                                    <option *ngFor="let col of catestadocivilCat" [value]="col.id">{{ col.descripcion }}</option>
                                  </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="rfc">RFC</label>
                                        <input type="text" [(ngModel)]="record.rfc" class="form-control" name="RFC" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="homoclave">Homoclave</label>
                                        <input type="text" [(ngModel)]="record.homoclave" class="form-control" name="Homoclave" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Residencia">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="form-group">
                                        <label for="domicilio">Domicilio</label>
                                        <input type="text" [(ngModel)]="record.domicilio" class="form-control" name="Domicilio">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="colonia">Colonia</label>
                                        <input type="text" [(ngModel)]="record.colonia" class="form-control" name="Colonia">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="cp">CP</label>
                                        <input type="text" [(ngModel)]="record.cp" class="form-control" name="CP" mask="00000">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catestadosresi">Entidad de residencia</label>
                                        <select class="form-control" [(ngModel)]="record.id_catestadosresi" name="Entidad de residencia" (change)="onSelectEntidadResi($event.target.value)">
                          <option *ngFor="let col of catestadosCat" [value]="col.id">{{ col.descripcion }}</option>
                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catmunicipiosresi">Municipio de residencia</label>
                                        <select class="form-control" [(ngModel)]="record.id_catmunicipiosresi" name="Municipio de residencia" (change)="onSelectMunicipioResi($event.target.value)">
                          <option *ngFor="let col of catmunicipiosResiCat" [value]="col.id">{{ col.descripcion }}</option>
                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catlocalidadesresi">Localidad de residencia</label>
                                        <select class="form-control" [(ngModel)]="record.id_catlocalidadesresi" name="Localidad de residencia">
                        <option *ngFor="let col of catlocalidadesResiCat" [value]="col.id">{{ col.descripcion }}</option>
                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="telefono">Teléfono particular</label>
                                        <input type="text" [(ngModel)]="record.telefono" class="form-control" name="Teléfono" mask="(000)000-0000" [specialCharacters]="[ '(' ,')' , '-' ]" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="telefonomovil">Teléfono móvil</label>
                                        <input type="text" [(ngModel)]="record.telefonomovil" class="form-control" name="Teléfono móvil" mask="(000)000-0000" [specialCharacters]="[ '(' ,')' , '-' ]" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="email">Cuenta de correo particular</label>
                                        <input type="text" [(ngModel)]="record.email" class="form-control" name="Cuenta de correo particular" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="emailoficial">Cuenta de correo oficial</label>
                                        <input type="text" [(ngModel)]="record.emailoficial" class="form-control" name="Cuenta de correo oficial" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Afiliación">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="form-group">
                                        <label for="telefono">Numero de seguridad social (En caso de contar con uno):</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="numimss">IMSS</label>
                                        <input type="text" [(ngModel)]="record.numimss" class="form-control" name="IMSS" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="numissste">ISSSTE</label>
                                        <input type="text" [(ngModel)]="record.numissste" class="form-control" name="ISSSTE" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="otronombre">Otro (Nombre)</label>
                                        <input type="text" [(ngModel)]="record.otronombre" class="form-control" name="Otro (Nombre)" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="numotro">Otro (Número)</label>
                                        <input type="text" [(ngModel)]="record.numotro" class="form-control" name="Otro (Número)" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-8">
                                    <div class="form-group">
                                        <label for="tipopension">Pensión que recibe (Si aplica)</label>
                                        <input type="text" [(ngModel)]="record.tipopension" class="form-control" name="Pensión que recibe" [disabled]="existeSegunCURP">
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Antigüedad">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="fechaingreso">Fecha de ingreso al COBAEV</label>
                                        <input type="date" [(ngModel)]="record.fechaingreso" class="form-control" name="Fecha de ingreso al COBAEV" (change)="onChangeFechaIngreso($event.target.value)">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="">Quincena de ingreso al COBAEV</label>
                                        <input type="text" [(ngModel)]="recordantiguedad_catquincena_ingreso" class="form-control" name="Quincena de ingreso al COBAEV" disabled="true">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="primaantiguedad">¿Cobra prima de antigüedad?</label>
                                    <div class="form-group">
                                        <select class="form-control" [(ngModel)]="record.primaantiguedad" name="¿Cobra prima de antigüedad?">
                                      <option value="0">No</option>
                                      <option value="1">Sí</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="">Año(s)</label>
                                        <input type="text" [(ngModel)]="recordantiguedad_anios" class="form-control" name="anios" disabled="true">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="">Mes(s)</label>
                                        <input type="text" [(ngModel)]="recordantiguedad_meses" class="form-control" name="meses" disabled="true">
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <div class="form-group">
                                        <label for="">Día(s)</label>
                                        <input type="text" [(ngModel)]="recordantiguedad_dias" class="form-control" name="dias" disabled="true">
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Cuenta bancaria">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="id_catbanco_deposito">Banco</label>
                                        <ng-select2 [(ngModel)]="record.id_catbanco_deposito" [data]="catbancosCat" [allowClear]="true" width="100%" name="Bancos">
                                        </ng-select2>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="cuentadeposito">Cuenta de depósito</label>
                                        <input type="text" [(ngModel)]="record.cuentadeposito" class="form-control" name="Cuenta de depósito">
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Expediente">
                            <div *ngIf="actionForm!=='nuevo'">
                                <nav class="header-admin navbar navbar-expand-lg navbar-light bg-light">
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">

                                        </ul>
                                        <form class="form-inline my-2 my-lg-0">
                                            <button class="btn btn-success my-2 my-sm-0" (click)="openModal('custom-expediente', 'nuevo', 0, record.id)">Agregar documento</button>
                                        </form>
                                    </div>
                                </nav>
                                <!--<app-header-admin id="header-admin-2" [nombreModulo]="nombreModulo" (agregarEvent)="openModal('custom-modal-2','nuevo',0,record_id_plantillaspersonal,record_tipodoc)">
                            </app-header-admin>-->
                            </div>
                            <div class="row">
                                &nbsp;
                            </div>

                            <div class="row">
                                <div class="col-md-12 mx-auto">
                                    <table id="tblPersonalexpediente" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" width="100%">
                                        <tbody>
                                            <tr *ngFor="let member of Members;index as irecord">
                                                <ng-container *ngFor="let col of ColumnNames;index as i">
                                                    <div *ngIf="col=='acciones'; else elseBlock">
                                                        <!--<td><img src="assets/{{ member[col] }}" width="50" /></td>-->
                                                        <td>
                                                            <div *ngFor="let boton of member[col].split(',')" style="display: contents;">
                                                                <button *ngIf="boton=='ver' || (boton=='editar' && irecord>0)" class="btn btn-brand btn-sm mr-1 btn-instagram" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo_documento,'custom-expediente','ver',member.id,member.id_plantillaspersonal)">
                                                                  <i class="fa fa-search"></i>
                                                              </button>

                                                                <button *ngIf="boton=='editar' && irecord==0" class="btn btn-brand btn-sm mr-1 btn-spotify" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo_documento,'custom-expediente','editar',member.id,member.id_plantillaspersonal)">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button *ngIf="boton=='eliminar' && irecord==0" class="btn btn-brand btn-sm mr-1 btn-reddit" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo_documento,'custom-expediente','eliminar',member.id)">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>

                                                            </div>
                                                        </td>
                                                    </div>
                                                    <ng-template #elseBlock>
                                                        <ng-container *ngIf="col!='id' && col!='tipo_documento' && col!='id_catplanteles';else elseBlock2">
                                                            <td>
                                                                <div [innerHtml]="member[col]"></div>
                                                            </td>
                                                        </ng-container>
                                                    </ng-template>
                                                    <ng-template #elseBlock2></ng-template>
                                                </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Perfil">
                            <div class="form-group col-sm-4">
                                <div class="form-group">
                                    <label for="id_usuarios_sistema">Usuario de sistema</label>
                                    <ng-select2 [(ngModel)]="record.id_usuarios_sistema" [data]="usuariosCat" [allowClear]="true" width="100%" name="Usuario de sistema" [disabled]="existeSegunCURP">
                                    </ng-select2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="archivo">Archivo .jpg .png (fotografía)  </label>
                                    <form-upload (onLoaded)="onLoadedFile($event)" [actionForm]="actionForm" [idFile]="record.id_archivos_avatar"></form-upload>
                                    <br/>
                                    <br/>

                                    <list-upload></list-upload>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<app-personalexpediente-form id="custom-expediente" (redrawEvent)="reDraw($event)">
</app-personalexpediente-form>