<div bsModal #basicModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <!-- Nav tabs -->
                    <tabset>
                        <tab heading="Datos">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <div class="form-group">
                                        <label for="idesc">Rol de usuario</label>
                                        <input type="text" [(ngModel)]="record.idesc" class="form-control" name="Rol de usuario">
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Permisos">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="archivo">Permisos</label>
                                    <div style="height: 400px; width: 400px; overflow: auto;">
                                        <tree-root #tree [options]="options" [nodes]="nodes">
                                            <ng-template #treeNodeTemplate let-node let-index="index">

                                                <input *ngIf="node.data.checkbox" type="checkbox" [disabled]="!node.data.checkbox" [checked]="node.data.checked" (change)="selectNode(node)" id="check-{{node.id}}">
                                                <span>{{ node.data.name }}</span>

                                            </ng-template>
                                        </tree-root>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->