#map {
    width: 100%;
    height: 600px;
}

.container {
    max-width: 100% !important;
}

.tablaInfo{
    border-spacing: 10px;
    border-collapse: separate;
}
.tablaInfo tr,.tablaInfo td{
    border: none;
}
.tablaInfo td{
    background-color: lightgray;
    color:#333;
    padding:2px;
}
.tablaInfo tr td:first-child { font-weight: bold; }

@media only screen and (min-width: 1200px) {
    .colInfo {
        overflow: auto;
        height: 400px;
    }
}