<div bsModal #basicModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">

                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                        <input type="hidden" [(ngModel)]="record.id_personal" class="form-control" name="id_personal">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_catplanteles">Plantel</label>
                                <ng-select2 [(ngModel)]="record.id_catplanteles" [data]="catplantelesCat" (valueChanged)='onCatplantelesChange($event)' [allowClear]="true" width="100%" name="Plantel" [disabled]="actionForm=='nuevo'?false:true">
                                </ng-select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_catplantillas">Plantilla</label>
                                <ng-select2 [(ngModel)]="record.id_catplantillas" [data]="catplantillasCat" (valueChanged)='onCatplanillasChange($event)' [allowClear]="true" width="100%" name="Plantilla" [disabled]="actionForm=='nuevo'?false:true">
                                </ng-select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_personal">Personal</label>
                                <div class="ng-autocomplete">
                                    <ng-autocomplete #id_personal [data]="catpersonalCat" (selected)='onSelectIdPersonal($event)' (inputChanged)='onChangeSearchIdPersonal($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keywordSearch" [minQueryLength]="3"
                                        [debounceTime]="100" [isLoading]="isLoadingSearch" [disabled]="actionForm=='nuevo'?false:true">
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <a href="javascript:void(0)">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span [innerHTML]="item.full_name"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="consecutivo">Numero de empleado</label>
                                <input type="text" name="Numero de empleado" [(ngModel)]="record.consecutivo" class="form-control" [disabled]="actionForm=='actualizar'?true:false" />
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="fechaingreso">Fecha de ingreso</label>
                                <input type="date" [(ngModel)]="record.fechaingreso" class="form-control" name="Fecha de ingreso" [disabled]="actionForm=='actualizar'?true:false">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="permitemasdeuna">¿Permitir asignar otra plantilla?</label>
                                <select class="form-control" [(ngModel)]="record.permitemasdeuna" name="Permitir nombramientos en otra plantilla" >
                                    <option value=""></option>
                                    <option value="0">No</option>
                                    <option value="1">Sí</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="permitevariosnombramientos">¿Permitir varios nombramientos en la misma plantilla?</label>
                                <select class="form-control" [(ngModel)]="record.permitevariosnombramientos" name="Permitir nombramientos en otra plantilla" >
                                    <option value=""></option>
                                    <option value="0">No</option>
                                    <option value="1">Sí</option>
                                  </select>
                            </div>
                        </div>
                        <!--<div *ngIf="actionForm=='actualizar'?true:false" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="record_id_catquincena">Desactivar en quincena</label>
                                <ng-select2 [(ngModel)]="record_id_catquincena" [data]="catquincenaCat" [allowClear]="true" width="100%" name="Desactivar en quincena">
                                </ng-select2>
                            </div>
                        </div>-->

                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="nombre">Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" name="Nombre" disabled="disabled" [value]="recordpersonalCat.nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="apellidopaterno">Apellido paterno</label>
                            <input type="text" name="Apellido paterno" disabled="disabled" [value]="recordpersonalCat.apellidopaterno" class="form-control" />

                        </div>
                        <div class="form-group col-sm-4">

                            <label for="apellidomaterno">Apellido materno</label>
                            <input type="text" name="Apellido materno" disabled="disabled" [value]="recordpersonalCat.apellidomaterno" class="form-control" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">

                            <label for="curp">CURP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" name="CURP" disabled="disabled" [value]="recordpersonalCat.curp" class="form-control" />

                        </div>
                        <div class="form-group col-sm-4">

                            <label for="rfc">RFC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" name="RFC" disabled="disabled" [value]="recordpersonalCat.rfc" class="form-control" />

                        </div>
                        <div class="form-group col-sm-2">

                            <label for="homoclave">Homoclave</label>
                            <input type="text" name="Homoclave" disabled="disabled" [value]="recordpersonalCat.homoclave" class="form-control" />

                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>