<div class="animated fadeIn">
    <div class="search-admin card">
        <div class="card-header">
            Filtros
            <div class="card-header-actions" style="margin: -0.25rem;">
                <button type="button" class="btn btn-ghost-primary" (click)="isCollapsed = !isCollapsed">
                <i [ngClass]="!isCollapsed ? 'fa fa-toggle-up' : 'fa fa-toggle-down'"></i>&nbsp;
              </button>
            </div>
        </div>
        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="cmbSearchBuscaren">Buscar en:</label>
                    <select class="form-control" id="cmbSearchBuscaren" [(ngModel)]="selectedItemsCampos.id" (change)="onSelectCampos($event.target.value)">
                    <ng-container *ngFor="let col of itemsCampos;index as i">
                      <option value = "{{ col.id }}" [selected]="i===1">{{ col.idesc }}</option>
                    </ng-container>
                </select>
                </div>
                <div class="form-group col-sm-2">
                    <label for="cmbSearchDonde">Donde sea: </label>
                    <select class="form-control" id="cmbSearchDonde" [(ngModel)]="selectedItemsOperadores.id">
                    <ng-container *ngFor="let col of itemsOperadores ;index as i">
                      <option value = "{{ col.id }}">{{ col.idesc }}</option>
                    </ng-container>
              </select>
                </div>
                <div class="col-sm-3">
                    <div *ngIf="tipoEdicion==0" class="form-group">
                        <label for="cmbSearchA">a:</label>
                        <input type="text" class="form-control" id="cmbSearchA" [(ngModel)]="valorBuscar">
                    </div>
                    <div *ngIf="tipoEdicion==1" class="form-group">
                        <label for="cmbSearchA">a:</label>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <select class="form-control" [(ngModel)]="valorBuscar" (change)="onSelectComboValor($event.target.value)" style="width:auto;">
                            <option *ngFor="let col of comboCat" [value]="col.id">{{ col.idesc }}</option>
                          </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-success" (click)="onClickBuscar()">Buscar</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-secondary" (click)="onClickClear()">Quitar filtro</button>
                </div>
            </div>
        </div>
    </div>
</div>
