<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container" style="width: 100% !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
        margin-left: auto !important;">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4" style="background: burlywood;">
                            <img id="profile-img" src="assets/img/brand/logo.png" class="profile-img-card" style="margin: 10px 0px 10px 60px;  width: 70%;" />
                            <h3 style="text-align: center;color:#656565;">Control de plazas</h3>
                            <h5 style="text-align: center;color:#656565;">Recuperar contraseña</h5>
                            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                <!--<div class="form-group">
                                    <label for="periodo">Período</label>
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="form.periodo" name="periodo" required #periodo="ngModel">
                                        <option *ngFor="let col of periodoCat" [value]="col.id">{{ col.descripcion }}</option>
                                      </select>
                                    </div>
                                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && periodo.invalid">
                                        <div *ngIf="periodo.errors.required">Período es requerido</div>
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label for="username">Numero de empleado</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" />
                                    </div>
                                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
                                        Numero de empleado es requerido
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">
                                        Enviar
                                    </button>
                                </div>
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                                        Error: {{ errorMessage }}
                                    </div>
                                </div>
                            </form>

                            <div class="input-group" >
                                <a href="/#/" class="nav-link"><< Regresar</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Se envió un mensaje a su cuenta de correo electrónico personal, con información para recuperar su contraseña</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>