<div bsModal #basicModalDocsProfesional="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catestudiosniveles">Nivel</label>
                                <select class="form-control" [(ngModel)]="record.id_catestudiosniveles" name="Nivel" (change)="onSelectNivel($event.target.value)">
                                    <option *ngFor="let col of catestudiosnivelesCat" [value]="col.id">{{ col.descripcion }}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catestudioscarreras">Carrera</label>
                                <ng-select2 [(ngModel)]="record.id_catestudioscarreras" [data]="catestudioscarrerasCat" [allowClear]="true" width="100%" name="Carrera">
                                </ng-select2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="titulado">¿Titulado?</label>
                                <select class="form-control" [(ngModel)]="record.titulado" name="¿Titulado?">
                                    <option value=""></option>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="incompleta">¿Incompleta?</label>
                                <select class="form-control" [(ngModel)]="record.incompleta" name="¿Incompleta?">
                                    <option value=""></option>
                                    <option value="0">No</option>
                                    <option value="1">Sí</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="cursando">¿Cursando?</label>
                                <select class="form-control" [(ngModel)]="record.cursando" name="¿Cursando?">
                                    <option value=""></option>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catestudiosniveles_ultimo">Último nivel de estudios</label>
                                <select class="form-control" [(ngModel)]="record.id_catestudiosniveles_ultimo" name="Último nivel de estudios">
                                    <option *ngFor="let col of catestudiosnivelesCat" [value]="col.id">{{ col.descripcion }}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="numcedprof">Cédula profesional</label>
                                <input type="text" [(ngModel)]="record.numcedprof" class="form-control" name="Cédula profesional">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="archivo">Archivo .pdf</label>
                            <form-uploadFisico (onLoaded)="onLoadedFile($event)" [ruta]=""></form-uploadFisico>
                            <br/>
                            <br/>

                            <list-uploadFisico (onRemove)="onRemoveFile($event)"></list-uploadFisico>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
        <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>