<div bsModal #RPlazasModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <form #dataFormRepPlazasListado="ngForm" (ngSubmit)="MostrarReportePlazasListado(dataFormRepPlazasListado)">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="param_id_catplanteles">Plantel</label>
                                <ng-select2 [(ngModel)]="param_id_catplanteles" [data]="catplantelesCat" [allowClear]="true" width="100%" name="Plantel">
                                </ng-select2>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="param_id_cattiponomina">Tipo de Nómina</label>
                                <select [(ngModel)]="param_id_cattiponomina" class="form-control" name="Tipo de Nómina">
                                <option value="0"></option>
                                <option *ngFor="let col of cattiponominaCat" [value]="col.id">{{ col.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="param_id_categorias">Categoría</label>
                                <ng-select2 [(ngModel)]="param_id_categorias" [data]="categoriasCat" [allowClear]="true" width="100%" name="Categoría">
                                </ng-select2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="param_id_catestatusplaza">Estatus de plaza</label>
                                <select [(ngModel)]="param_id_catestatusplaza" class="form-control" name="Estatus de plaza">
                                <option value="0"></option>
                                <option *ngFor="let col of catestatusplazaCat" [value]="col.id">{{ col.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Mostrar</button>
                </div>
                <app-validation-summary #vsRepPlazasListado [form]="dataFormRepPlazasListado"></app-validation-summary>
            </form>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

