<div bsModal #basicModal="bs-modal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">

                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_categorias">Categorías</label>
                                <select id="selectPlantel" class="form-control" [(ngModel)]="record.id_categorias" name="Categorías">
                                  <option *ngFor="let col of categoriasCat" [value]="col.id">{{ col.clave + " - " + (col.denominacion!=null?col.denominacion:".") }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_catplanteles">Plantel</label>
                                <select id="selectPlantel" class="form-control" [(ngModel)]="record.id_catplanteles" name="Plantel" (change)="onSelectPlantel($event.target)">
                                  <option *ngFor="let col of catplantelesCat" [value]="col.id">{{ col.clave + " - " + (col.descripcion!=null?col.descripcion:".") + " - " + col.ubicacion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_catcentrostrabajo">Centro de trabajo</label>
                                <select class="form-control" [(ngModel)]="record.id_catcentrostrabajo" name="Centro de trabajo">
                                <option *ngFor="let col of catcentrostrabajoCat" [value]="col.id">{{ col.clave + " - " + col.descripcion }}</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_catplantelescobro">Plantel de cobro</label>
                                <select class="form-control" [(ngModel)]="record.id_catplantelescobro" name="Plantel de cobro">
                              <option *ngFor="let col of catplantelesCat" [value]="col.id">{{ col.descripcion }}</option>
                            </select>
                            </div>
                        </div>
                        <!--<div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_catzonageografica">Zona geográfica</label>
                                <select class="form-control" [(ngModel)]="record.id_catzonageografica" name="Zona geográfica">
                              <option *ngFor="let col of catzonageograficaCat" [value]="col.id">{{ col.descripcion }}</option>
                            </select>
                            </div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="fecha_creacion">Fecha de creación</label>
                                <input type="date" [(ngModel)]="record.fecha_creacion" class="form-control" name="Fecha de creación">
                                <!--<select class="form-control" [(ngModel)]="record.fecha_inicio" name="Fecha inicio">
                              <option *ngFor="let col of catquincenaCat" [value]="col.id">{{ col.fechainicio.toString() + ' - ' + col.fechafin.toString() }}</option>
                            </select>-->
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="id_catestatusplaza">Estatus de plaza</label>
                                <select class="form-control" [(ngModel)]="record.id_catestatusplaza" name="Estatus de plaza">
                                  <option *ngFor="let col of catestatusplazaCat" [value]="col.id">{{ col.descripcion }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="statussicodes">Estatus sindical</label>
                                <select class="form-control" [(ngModel)]="record.statussicodes" name="Estatus sindical">
                                <option value=""></option>
                                <option value="SUIT">SUIT</option>
                                <option value="SDET">SDET</option>
                                <option value="LIBRE">LIBRE</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" class="btn btn-primary">{{ botonAccion }}</button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->