<div bsModal #basicModalDocs="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-left" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record_id_personal" class="form-control" name="ID">
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <table>
                                <tr>
                                    <td>
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.JPG'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.jpg'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.PNG'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.png'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.JPEG'" style="width:100px" class="img-avatar" alt="" />
                                        <img [src]="'http://sigaa.cobaev.edu.mx/festival/fotos/personal/' + record_numeemp + '.jpeg'" style="width:100px" class="img-avatar" alt="" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group col-sm-10">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>Plaza base</label>
                                    <select class="form-control" name="Plaza base" multiple [disabled]="true" size="3">
                              <ng-container *ngFor="let row of tblNombramientos; index as i">
                                  <option  *ngIf="row.esplazabase==1"  value="{{row.id_plaza}}">{{ row.clave }}</option>
                              </ng-container>

                            </select>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Nombramientos vigentes; <span style="background-color:burlywood;">Quincena activa: {{ record_quincena_activa }}</span></label>
                                    <select class="form-control" name="Nombramientos vigentes" (change)="onPlazaChange($event.target.value)" multiple>
                                <option  *ngFor="let row of tblNombramientos; index as i" [selected]="row.id_plaza == record_id_plaza" value="{{row.id_plaza}}">{{ row.clave }}</option>
                              </select>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="record_id_semestre">Semestre</label>
                            <select class="form-control" [(ngModel)]="record_id_semestre" name="Semestre" (change)="onSemestreChange($event.target.value)" [disabled]="esSemestreDesdeParametro">
                            <option *ngFor="let col of semestreCat" [value]="col.id">{{ col.text }}</option>
                          </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="record_state">Estatus de registro</label>
                            <select class="form-control" name="Estatus de registro" [(ngModel)]="record_estatusregistro" (change)="onCatestatusChange($event.target.value)">
                            <option value="1">Vigentes</option> <!--solo sin fecha fin-->
                            <option value="0">Historial</option> <!--todas-->
                          </select>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-11">
                            <nav class="header-admin navbar navbar-expand-lg navbar-light bg-light">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">

                                    </ul>
                                    <!-- <button class="btn btn-primary my-2 my-sm-0" (click)="openModal('01','custom-01','nuevo',0,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                            Agregar carga horaria
                          </button>-->
                                    <form class="form-inline my-2 my-lg-0">
                                        <div *ngIf="permiteAgregar" class="btn-group" dropdown>
                                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" >
                                          Agregar<span class="caret"></span>
                                        </button>
                                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                                <li role="menuitem"><a class="dropdown-item" [routerLink]="" (click)="openModal('01','custom-01','nuevo',0,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">Carga horaria</a></li>
                                                <li role="menuitem"><a class="dropdown-item" [routerLink]="" (click)="openModal('02','custom-01','nuevo',0,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">Horas DIES</a></li>
                                                <li role="menuitem"><a class="dropdown-item" [routerLink]="" (click)="openModal('03','custom-01','nuevo',0,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">Horas de apoyo a la docencia</a></li>
                                                <li role="menuitem"><a class="dropdown-item" [routerLink]="" (click)="openModal('04','custom-02','nuevo',0,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">Reemplazos de horas de descarga</a></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <label style="font-weight: bold;">Carga horaria</label>
                            <table id="tblPersonalhorasadmin" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" width="100%">
                                <tbody>
                                    <tr *ngFor="let member of Members;index as irecord">
                                        <ng-container *ngFor="let col of ColumnNames;index as i">
                                            <div *ngIf="col=='acciones'; else elseBlock">
                                                <!--<td><img src="assets/{{ member[col] }}" width="50" /></td>-->
                                                <td>
                                                    <div *ngFor="let boton of member[col].split(',')" style="display: contents;">
                                                        <button *ngIf="boton=='ver' || (boton=='editar' && member.en_activo==0)" title="Ver" class="btn btn-brand btn-sm mr-1 btn-instagram" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-01','ver',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                                                            <i class="fa fa-search"></i>
                                                        </button>

                                                        <button *ngIf="boton=='editar' && member.en_activo==1" title="Editar" class="btn btn-brand btn-sm mr-1 btn-spotify" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-01','editar',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                                                          <i class="fa fa-edit"></i>
                                                      </button>
                                                        <button *ngIf="boton=='copiar' && member.en_activo==1" title="Copiar" class="btn btn-brand btn-sm mr-1 btn-xing" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-01','copiar',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                                                        <i class="fa fa-copy"></i>
                                                    </button>
                                                    <!--<button *ngIf="boton=='licencia' && member.en_activo==1 && member.nomb!='L' && member.nomb!='I'" title="LSCG" class="btn btn-brand btn-sm mr-1 btn-xing" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-01','licencia',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                                                        <i class="fa fa-flag"></i>
                                                    </button>-->
                                                        <button *ngIf="boton=='eliminar' && member.esta_iniciada==0 && member.en_activo==1" title="Eliminar" class="btn btn-brand btn-sm mr-1 btn-reddit" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-01','eliminar',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                                                          <i class="fa fa-trash"></i>
                                                      </button>
                                                        <button *ngIf="boton=='desactivar' && member.esta_iniciada==0 && member.en_activo==1" title="Descargar" class="btn btn-brand btn-sm mr-1 btn-reddit" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-01','desactivar',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                                                          <i class="fa fa-download"></i>
                                                      </button>
                                                    </div>
                                                </td>
                                            </div>
                                            <ng-template #elseBlock>
                                                <ng-container *ngIf="col=='plantel';else elseBlock2">
                                                    <td>
                                                        <div [title]="member.descplantel" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock2>
                                                <ng-container *ngIf="col=='tipo';else elseBlock3">
                                                    <td>
                                                        <div [title]="member.desctipo" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock3>
                                                <ng-container *ngIf="col=='estatus';else elseBlock4">
                                                    <td>
                                                        <div [title]="member.descestatus" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock4>
                                                <ng-container *ngIf="col=='nomb';else elseBlock5">
                                                    <td>
                                                        <div [title]="member.descnombramiento" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock5>
                                                <ng-container *ngIf="col=='materia';else elseBlock6">
                                                    <td [ngStyle]="{'background-color': (member.descargada=='1') ? '#c4c4af' : '#ffffff'}">
                                                        <div [innerHtml]="member[col]" style="font-style: italic"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock6>
                                                <ng-container *ngIf="col!='descplantel'
                                                && col!='desctipo'
                                                && col!='descestatus'
                                                && col!='descnombramiento'
                                                && col!='esta_iniciada'
                                                && col!='en_activo'
                                                && col!='id descarga'
                                                && col!='descargada';else elseBlock7">
                                                    <td>
                                                        <div [innerHtml]="member[col]"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock7></ng-template>
                                        </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <!--<div *ngIf="NumberOfMembersDescarga>0" class="row">-->
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <label style="font-weight: bold;">Carga horaria - DESCARGAS -</label>
                            <table id="tblPersonalhorasadminDescarga" datatable [dtOptions]="dtOptionsDescarga" class="table table-striped table-bordered row-border hover" width="100%">
                                <tbody>
                                    <tr *ngFor="let member of MembersDescarga;index as irecord">
                                        <ng-container *ngFor="let col of ColumnNamesDescarga;index as i">
                                            <div *ngIf="col=='acciones'; else elseBlock">
                                                <!--<td><img src="assets/{{ member[col] }}" width="50" /></td>-->
                                                <td>
                                                    <div *ngFor="let boton of member[col].split(',')" style="display: contents;">
                                                        <button *ngIf="boton=='ver' || boton=='editar'" title="Ver" class="btn btn-brand btn-sm mr-1 btn-instagram" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-02','ver',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                                                          <i class="fa fa-search"></i>
                                                      </button>
                                                        <button *ngIf="boton=='eliminar' && member.en_activo==1" title="Eliminar" class="btn btn-brand btn-sm mr-1 btn-reddit" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-02','eliminar',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza,record_esInterina,record_id_catplanteles_aplicacion)">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                    </div>
                                                </td>
                                            </div>
                                            <ng-template #elseBlock>
                                                <ng-container *ngIf="col=='plantel';else elseBlock2">
                                                    <td>
                                                        <div [title]="member.descplantel" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock2>
                                                <ng-container *ngIf="col=='tipo';else elseBlock3">
                                                    <td>
                                                        <div [title]="member.desctipo" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock3>
                                                <ng-container *ngIf="col=='estatus';else elseBlock4">
                                                    <td>
                                                        <div [title]="member.descestatus" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock4>
                                                <ng-container *ngIf="col=='nomb';else elseBlock5">
                                                    <td>
                                                        <div [title]="member.descnombramiento" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock5>
                                                <ng-container *ngIf="col=='materia';else elseBlock6">
                                                    <td [ngStyle]="{'background-color': (member.descargada=='1') ? '#c4c4af' : '#ffffff'}">
                                                        <div [innerHtml]="member[col]" style="font-style: italic"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock6>
                                                <ng-container *ngIf="col!='descplantel'
                                              && col!='desctipo'
                                              && col!='descestatus'
                                              && col!='descnombramiento'
                                              && col!='esta_iniciada'
                                              && col!='en_activo'
                                              && col!='descargada';else elseBlock7">
                                                    <td>
                                                        <div [innerHtml]="member[col]"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock7></ng-template>
                                        </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <table datatable class="table table-striped table-bordered row-border hover">
                                <tr>
                                    <th>Total horas (Activas y vigentes)</th>
                                    <th>Nombramiento</th>
                                    <!--<th>Quincena de referencia</th>-->
                                </tr>
                                <tr *ngFor="let row of tblResumenRows; index as i">
                                    <td>{{ row.cantidad }}</td>
                                    <td>{{ row.nombramiento }}</td>
                                    <!--<td>{{ row.quincena_fin }}</td>-->
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <table datatable class="table table-striped table-bordered row-border hover">
                                <tr>
                                    <th>Total horas (Vigentes)</th>
                                    <th>Estatus</th>
                                    <!--<th>Quincena de referencia</th>-->
                                </tr>
                                <tr *ngFor="let row of tblResumenRowsEstatus; index as i">
                                    <td>{{ row.cantidad }}</td>
                                    <td>{{ row.estatus }}</td>
                                    <!--<td>{{ row.quincena_fin }}</td>-->
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<app-horasasignacion-form id="custom-01" (redrawEvent)="reDraw($event)">
</app-horasasignacion-form>
<app-horasdescarga-form id="custom-02" (redrawEvent)="reDraw($event)">
</app-horasdescarga-form>