.modal-header {
    background: #c8ced3;
}

.ng-autocomplete {
    width: auto;
}

.dropdown-item {
    padding: 5px 20px !important;
}

tbody td:nth-child(1),
tbody td:nth-child(2),
tbody td:nth-child(3),
tbody td:nth-child(4),
tbody td:nth-child(5),
tbody td:nth-child(6),
tbody td:nth-child(7),
tbody td:nth-child(8),
tbody td:nth-child(9),
tbody td:nth-child(10) {
    text-align: center;
}