<div bsModal #basicModalDocs="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-left" role="document">
        <div class="modal-content" style="width:900px">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record_id_personal" class="form-control" name="ID">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="record_id_semestre">Semestre</label>
                            <select class="form-control" [(ngModel)]="record_id_semestre" name="Semestre" (change)="onSemestreChange($event.target.value)" [disabled]="esSemestreDesdeParametro">
                              <option *ngFor="let col of semestreCat" [value]="col.id">{{ col.text }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="record_state">Estatus de registro</label>
                            <select class="form-control" name="Estatus de registro" (change)="onCatestatusChange($event.target.value)">
                              <option value="1" selected="selected">Vigentes</option> <!--solo sin fecha fin-->
                              <option value="1|2|3|4|5|6">Historial</option> <!--todas-->
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <form class="form-inline my-2 my-lg-0">
                                <div class="btn-group" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                                  Agregar asignación <span class="caret"></span>
                                </button>
                                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                                        <li role="menuitem"><a class="dropdown-item" [routerLink]="" (click)="openModal('01','custom-01','nuevo',0,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza)">Horas frente a grupo</a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label>Plaza base</label>
                            <select class="form-control" name="Plaza base" (change)="onPlazaChange($event.target.value)" multiple>
                              <option  *ngFor="let row of tblNombramientos; index as i" [selected]="row.id_plaza == record_id_plaza" value="{{row.id_plaza}}">{{ row.clave }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Nombramientos vigentes</label>
                            <table datatable class="table table-striped table-bordered row-border hover">
                                <tr *ngFor="let row of tblNombramientos; index as i">
                                    <td *ngIf="row.esplazabase==0">{{ row.clave }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <label>Carga horaria</label>
                            <table id="tblPersonalhorasadmin" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" width="100%">
                                <tbody>
                                    <tr *ngFor="let member of Members;index as irecord">
                                        <ng-container *ngFor="let col of ColumnNames;index as i">
                                            <div *ngIf="col=='acciones'; else elseBlock">
                                                <!--<td><img src="assets/{{ member[col] }}" width="50" /></td>-->
                                                <td>
                                                    <div *ngFor="let boton of member[col].split(',')" style="display: contents;">
                                                        <button *ngIf="boton=='ver'" title="Ver" class="btn btn-brand btn-sm mr-1 btn-instagram" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-' + member.tipo,'ver',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza)">
                                                            <i class="fa fa-search"></i>
                                                        </button>

                                                        <button *ngIf="boton=='editar'" title="Editar" class="btn btn-brand btn-sm mr-1 btn-spotify" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-' + member.tipo,'editar',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza)">
                                                          <i class="fa fa-edit"></i>
                                                      </button>
                                                        <button *ngIf="boton=='copiar'" title="Copiar" class="btn btn-brand btn-sm mr-1 btn-xing" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-' + member.tipo,'copiar',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza)">
                                                        <i class="fa fa-copy"></i>
                                                    </button>
                                                        <button *ngIf="boton=='eliminar' && member.en_activo==1" title="Eliminar" class="btn btn-brand btn-sm mr-1 btn-reddit" style="margin-bottom: 4px" type="button" (click)="openModal(member.tipo,'custom-' + member.tipo,'eliminar',member.id,record_id_personal,record_id_semestre,record_id_catplanteles,record_id_plaza)">
                                                          <i class="fa fa-trash"></i>
                                                      </button>
                                                    </div>
                                                </td>
                                            </div>
                                            <ng-template #elseBlock>
                                                <ng-container *ngIf="col=='plantel';else elseBlock2">
                                                    <td>
                                                        <div [title]="member.descplantel" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock2>
                                                <ng-container *ngIf="col=='tipo';else elseBlock3">
                                                    <td>
                                                        <div [title]="member.desctipo" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock3>
                                                <ng-container *ngIf="col=='estatus';else elseBlock4">
                                                    <td>
                                                        <div [title]="member.descestatus" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock4>
                                                <ng-container *ngIf="col=='nomb';else elseBlock5">
                                                    <td>
                                                        <div [title]="member.descnombramiento" [innerHtml]="member[col]" style="color:blue"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock5>
                                                <ng-container *ngIf="col!='id'
                                                && col!='descplantel'
                                                && col!='desctipo'
                                                && col!='descestatus'
                                                && col!='descnombramiento' && col!='en_activo';else elseBlock6">
                                                    <td>
                                                        <div [innerHtml]="member[col]"></div>
                                                    </td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock6></ng-template>
                                        </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <table datatable class="table table-striped table-bordered row-border hover">
                                <tr>
                                    <th>Total horas</th>
                                    <th>Nombramiento</th>
                                    <th>Quincena de referencia</th>
                                </tr>
                                <tr *ngFor="let row of tblResumenRows; index as i">
                                    <td>{{ row.cantidad }}</td>
                                    <td>{{ row.nombramiento }}</td>
                                    <td>{{ row.quincena_fin }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<app-horasasignacion-form id="custom-01" (redrawEvent)="reDraw($event)">
</app-horasasignacion-form>