<div bsModal #basicModal="bs-modal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" [(ngModel)]="record.id" class="form-control" name="ID" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" [(ngModel)]="record.username" class="form-control" name="Usuario" required minlength="4">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" [(ngModel)]="record.pass" class="form-control" name="Contraseña" required minlength="8">
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>
