<div bsModal #basicModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false}" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height modal-right" role="document" style="background: rgb(140, 255, 0); top: 20px;">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{ tituloForm }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #dataForm="ngForm" (ngSubmit)="submitAction(dataForm)">
                    <input type="hidden" name="action" value="{{ actionForm }}">
                    <div class="form-group">
                        <input type="hidden" [(ngModel)]="record.id" class="form-control" name="ID">
                        <input type="hidden" [(ngModel)]="record.id_categorias" class="form-control" name="Código">
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <label for="codigo">Código</label>
                                <input type="text" [(ngModel)]="record.codigo" class="form-control" name="Código">
                            </div>
                        </div>

                        <div class="form-group col-sm-4">
                            <div class="form-group">
                                <label for="id_catzonaeconomica">Zona Económica</label>
                                <select class="form-control" [(ngModel)]="record.id_catzonaeconomica" name="Zona Económica">
                              <option *ngFor="let col of catzonaeconomicaCat" [value]="col.id">{{ col.descripcion }}</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="verpor">Editar...</label>
                                <select class="form-control" id="cmdEditarHorPla" (change)="changeCmdEditarHorPla($event.target.value)">
                                  <option value="P">Plazas autorizadas</option>
                                  <option value="H">Horas autorizadas</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="varEditarHorPla=='P'" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="totalplazaaut">Plazas autorizadas</label>
                                <input type="text" [(ngModel)]="record.totalplazaaut" class="form-control" name="Plazas autorizadas">
                            </div>
                        </div>
                        <div *ngIf="varEditarHorPla=='H'" class="form-group col-sm-3">
                            <div class="form-group">
                                <label for="totalhorasaut">Horas autorizadas</label>
                                <input type="text" [(ngModel)]="record.totalhorasaut" class="form-control" name="Horas autorizadas">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="actionForm!=='nuevo'">
                        <app-header-admin id="header-admin-2" [nombreModulo]="nombreModulo" (agregarEvent)="openModal('custom-modal-percepciones','nuevo',0,record.id)">
                        </app-header-admin>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <table id="tblCatpercepcionescategorias" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" width="100%">
                                <tbody>
                                    <tr *ngFor="let member of Members">
                                        <ng-container *ngFor="let col of ColumnNames;index as i">
                                            <div *ngIf="col=='acciones'; else elseBlock">
                                                <!--<td><img src="assets/{{ member[col] }}" width="50" /></td>-->
                                                <td>
                                                    <div *ngFor="let boton of member[col].split(',')" style="display: contents;">
                                                        <button *ngIf="boton=='ver'" class="btn btn-brand btn-sm mr-1 btn-instagram" style="margin-bottom: 4px" type="button" (click)="openModal('custom-modal-percepciones','ver',member.id,member.id_categoriadetalle)">
                                                  <i class="fa fa-search"></i>
                                              </button>
                                                        <button *ngIf="boton=='editar'" class="btn btn-brand btn-sm mr-1 btn-spotify" style="margin-bottom: 4px" type="button" (click)="openModal('custom-modal-percepciones','editar',member.id,member.id_categoriadetalle)">
                                                  <i class="fa fa-edit"></i>
                                              </button>
                                                        <button *ngIf="boton=='eliminar'" class="btn btn-brand btn-sm mr-1 btn-reddit" style="margin-bottom: 4px" type="button" (click)="openModal('custom-modal-percepciones','eliminar',member.id)">
                                                  <i class="fa fa-trash"></i>
                                              </button>
                                                    </div>
                                                </td>
                                            </div>
                                            <ng-template #elseBlock>
                                                <ng-container *ngIf="col!='id';else elseBlock2">
                                                    <td>{{ member[col] }}</td>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #elseBlock2></ng-template>
                                        </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <app-validation-summary [form]="dataForm"></app-validation-summary>
                    <!-- [disabled]="!dataForm.form.valid" -->
                    <button *ngIf="actionForm!=='ver'" type="submit" [disabled]='userFormIsPending | async' class="btn btn-primary">
                      <div *ngIf="userFormIsPending | async; else elseBlock"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span>Procesando...</span></div>
                      <ng-template #elseBlock>{{ botonAccion }}</ng-template>
                    </button>
                </form>
            </div>
            <!-- <h2>Diagnostic Info</h2>
            <div [innerHtml]="diagnosticValidate"></div>-->
        </div>
    </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp;</h5>
            </div>
            <div class="modal-body">
                <p>Acción realizada satisfactoriamente</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="continuarEditando()">Continuar editando</button>
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<app-catpercepcionescategorias-form id="custom-modal-percepciones" (redrawEvent)="reDraw()">
    <!--<input type="hidden" [(ngModel)]="idItem" />-->
</app-catpercepcionescategorias-form>